@font-face {
  src: url("fonts/century-gothic.ttf") format("ttf"),
  url("fonts/century-gothic.eot") format("eot"),
  url("fonts/century-gothic.woff") format("woff");
  font-family: Century;
  font-style: normal;
}

body {
  background-color: #b7b7b7;
  padding: 10px;
  font-family: Century;
  font-size: 14px;
}

label {
  display: block;
  margin: 5px;
}

.row {
  width: 100%;
}

.content {
  background-color: white;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  min-width: 353px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

.personal {
  background-color: #302f30;
  width: 33%;
  color: white;
}

.professional {
  width: 67%;
  margin: 50px 0px 50px 0px;
}

.professional-box {
  margin: 40px;
}

.professional-box h1 {
  margin-left: 20px;
}

.professional-box label {
  text-align: justify;
  text-justify: inter-word;
}

.professional-itens {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

.professional-itens h2{
  margin-bottom: 2px;
}

.professional-itens section{
  width: 25%;
  text-align: right;
  margin-top: 25px;
  color: #b7b7b7;
}

.professional-itens label{
  margin-left: 20px;
  color: #b7b7b7;
  width: 100%;
}

.item-content {
  width: 75%;
}

.personal-box {
  padding: 30px 20px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.personal-box-content {
  margin: 0px 20px 0px 20px;
}

.personal-box-content label {
  margin: 15px 5px 5px 5px;
}
.personal-box-content img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.personal-box-content span {
  vertical-align: text-bottom;
}

.selfie-content {
  text-align: center;
  padding: 10% 0px 0px 0px;
}

.selfie {
  max-width: 250px;
  width: 70%;
  border-radius: 50%;
}

.description {
  text-align: center;
}

.bar-back {
  width: 100%;
  height: 10px;
  background-color: #a7a7a7;
}

.bar-back-dark {
  width: 100%;
  height: 10px;
  background-color: #707070;
}

.bar-front {
  height: 10px;
  background-color: white;
}

.bar-front-dark {
  height: 10px;
  background-color: #a7a7a7;
}

.techs {
  width: 100%;
  display: block;
}

.techs-item {
  width: 25%;
  float: left;
  padding: 0px 10px 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .content {
    display: block;
  }
  .personal {
    width: 100%;
  }
  .professional {
    width: 100%;
  }
  .personal-box {
    width: 50%;
  }
  .fiter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
  }
}

@media only screen and (max-width: 480px) {
  .personal-box {
    width: 100%;
  }
  .techs-item {
    width: 50%;
  }
  .fiter {
    display: block;
  }
}