@media print {
  html, body, .content, .container, .container-margin, .page-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .header {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

  .header-text, .company, .occupation {
    font-size: 1rem !important;
  }
  .container-margin {
    margin-top: -40px !important;
  }

  .no-print {
    display: none !important;
  }
  .only-print {
    display: block !important;
  }
  .left-page,
  .right-page {
    width: 100% !important;
    padding: 0 !important;
  }
  .page-container {
    display: block !important;
  }

  .contact-value, .contact-label {
    display: inline !important;
  }

  .print-column {
    width: 50%;
    padding: 10px;
  }

  .right-page {
    display: flex;
  }

  .print-column-right {
    margin-top: 30px;
  }

  
}

a {
  text-decoration: none;
}
.only-print {
  display: none;
}

@font-face {
  src: url("fonts/century-gothic.ttf") format("ttf"),
  url("fonts/century-gothic.eot") format("eot"),
  url("fonts/century-gothic.woff") format("woff");
  font-family: Century;
  font-style: normal;
}

body {
  background-color: rgb(44, 44, 44);
  font-family: Century;
  font-size: 14px;
  margin: 0;
}

a {
  cursor: pointer;
  color: white;
  z-index: 2;
}

label {
  display: block;
  margin: 5px;
}

.row {
  width: 100%;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.content {
  background-color: rgb(36, 36, 36);
  margin: auto;
  max-width: 1000px;
  min-width: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  color: #fefefe;
}

.container {
  padding-left: 10px;
  width: 100%;
}

.container-margin {
  margin: -40px 30px 40px 30px;
}

.cv {
  font-size: 4rem;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blue {
  color: #58e3ec;
}

.cv-signal-text {
  color: #ffe771;
}

.cv-title {
  text-align: center;
  padding: 30px;
}

#numbers {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #858585;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.5;
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.header-slash {
  color: #58e3ec;
}

.header-text {
  color: #ea8486;
}

.left-page {
  width: 66.66%;
  padding-right: 15px;
}

.right-page {
  width: 33.33%;
  padding-left: 15px;
}

.occupation {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffe771;
  margin-bottom: 5px;
  margin-top: 10px;
}

.company {
  font-size: 1rem;
  font-weight: bold;
  color: #ea8486;
}

.date {
  font-size: 1rem;
  color: #ffe771;
}

.company-date {
  margin-top: 0px;
  margin-bottom: 10px;
}

.experience {
  margin-bottom: 20px;
}

.skill-item {
  margin-bottom: 10px;
}

.skill-item-title {
  color: #ffe771;
  font-weight: bold;
  display: inline;
}

.skill-item-value {
  margin-left: 5px;
  display: inline;
}

.page-container {
  display: flex;
}

.blue-strong {
  color: #58e3ec;
  font-weight: bold;
  font-size: 1rem;
}

.yellow-strong {
  color: #ffe771;
  font-weight: bold;
  font-size: 1rem;
}

.personal-box-content label {
  margin: 15px 5px 5px 5px;
}
.personal-box-content img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  color: #ffe771;
}

.personal-box-content span {
  vertical-align: text-bottom;
}

.contact-value {
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  .left-page,
  .right-page {
    width: 100%;
    padding: 0;
  }
  .page-container {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .cv {
    justify-content: center;
    padding-bottom: 0px;
  }
  .cv-container {
    display: block;
  }
  .cv-title {
    padding-top: 10px;
  }

  .container-margin {
    margin: -40px 10px 40px 10px;
  }
}